<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    
    <div class="content">
        {% if movies != null %}
            <form action="{{movies[0].title}}" method="post">
                <div class="movie_card" id="bright">
                    <div class="info_section">
                        <div class="movie_header">
                            <img class="locandina"
                                src="https://movieplayer.net-cdn.it/t/images/2017/12/20/bright_jpg_191x283_crop_q85.jpg" />
                            <h1>{{movies[0].title}}</h1>
                            <h4>directedBy: {{movies[0].directedBy}}</h4>
                            <h1></h1>
                            <h4>Starring: {{movies[0].starring}}</h4>
                            <p class="type">Genres: {{movies[0].genres}}</p>
                        </div>
                        <div class="movie_desc">
                            <p class="text">
                                Set in a world where fantasy creatures live side by side with humans. A human cop is forced to
                                work with an Orc to find a weapon everyone is prepared to kill for.
                            </p>
                        </div>
                    </div>
                    <div class="blur_back bright_back"></div>
                </div>
                <select name="category">
                    <option value="genres">Genres</option>
                    <option value="directedBy">directedBy</option>
                    <option value="starring">Starring</option>
                </select>              
                <button type="submit">Submit</button>
            </form>
        {% endif %}
    </div>
        <div class="recommend">
            {% for movie in movies %}
                {% if loop.index != 1 %}
                    <form action="{{movie.title}}" method="post">
                        <div class="movie_recommend ">
                            <div class="info_movies">
                                <div class="name_movies">
                                    <img class="img-rcm" src="https://movieplayer.net-cdn.it/t/images/2017/12/20/bright_jpg_191x283_crop_q85.jpg" />
                                </div>
                                <div class="text_recommend">
                                    <h1>{{movie.title}}</h1>
                                    <h4>directedBy: {{movie.directedBy}}</h4>
                                </div>
                            </div>
                        </div>
                        <select name="category">
                            <option value="genres">Genres</option>
                            <option value="directedBy">directedBy</option>
                            <option value="starring">Starring</option>
                        </select>              
                        <button type="submit">Submit</button>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
</body>
</html>